body{
    background-image: url('https://tse1.mm.bing.net/th/id/OIP.NW_C5UMIEBxJFcqyK9MZGQHaE8?rs=1&pid=ImgDetMain&o=7&rm=3') ;
    background-size:cover ;
    background-position: center ;
    background-repeat:no-repeat ;
    height: 100vh;
    font-family: Arial, sans-serif ;
    color: pink;
}
